main {
  width: 100vw;
}

nav {
  background-color: var(--bg-color);
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: 24px;
  left: 24px;
  border: 4px solid var(--bg-color);
  width: fit-content;
  box-sizing: content-box;
  user-select: none;
}

/*******************
 *
 * Create card form
 *
*******************/

details {
  position: fixed;
  top: 16px;
  right: 24px;
  z-index: 10;
  background-color: var(--bg-color);
  width: 200px;
}

summary {
  display: block;
  padding: 16px;
  border: 1px solid var(--fg-color);
  user-select: none;
  cursor: pointer;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--fg-color);
  margin-top: -1px;
  padding: 1rem;
}

input + label {
  margin-top: 16px;
}

label + input {
  margin-top: 4px;
}

input[type="text"],
input[type="url"] {
  border: 1px solid var(--fg-color);
  color: inherit;
  background-color: var(--bg-color);
  padding: 4px;

}

button[type="submit"] {
  appearance: none;
  margin-top: 16px;
  border: none;
  background-color: var(--fg-color);
  color: var(--bg-color);
  padding: 8px;
  cursor: pointer;
}

/*******************
 *
 * Canvas Wrapper
 *
*******************/

#canvas-wrapper {
  width: 3000px;
  height: 1000px;
  overflow: scroll;
  position: relative;
}

#canvas-wrapper > div:first-child {
  position: absolute;
  background-color: transparent;
  z-index: 1;
  height: 100%;
  width: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

/*******************
 *
 * Cool wall Sections
 *
*******************/

h2 {
  text-align: center;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 1000px;
  gap: 4px;
}

#grid div {
  background-color: var(--bg-color);
  padding-top: 48px;
}

#col-one {
  grid-column: 1/1;
}

#col-two {
  grid-column: 2/3;
}

#col-three {
  grid-column: 3/4;
}

#col-four {
  grid-column: 4/5;
}