main {
  width: 100vw;
}

nav {
  background-color: transparent;
  width: 100vw;
  position: fixed;
  text-align: center;
  z-index: 2;
  top: 0;
}

h2 {
  text-align: center;
}

#canvas-wrapper {
  width: 2000px;
  height: 2000px;
  overflow: scroll;
  position: relative;
}

#canvas-wrapper > div:first-child {
  position: absolute;
  background-color: transparent;
  z-index: 1;
  height: 100%;
  width: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 2000px;
  gap: 4px;
}

#grid div {
  background-color: #fff;
  padding-top: 48px;
}

@media (prefers-color-scheme: dark) {
  #grid div {
    background-color: #000;
  }
}

#col-one {
  grid-column: 1/1;
}

#col-two {
  grid-column: 2/3;
}

#col-three {
  grid-column: 3/4;
}

#col-four {
  grid-column: 4/5;
}